<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Link the styles.css file -->
    <title>Electoral Analysis System</title> <!-- Sets the title of the page -->
    <script>
        window.static_folder = "{{ url_for('static', filename='') }}";
    </script>   
</head>
<body>
    <header>
        <img id="logo" src="{{ url_for('static', filename='images/easLogo.png')}}">
        <section id="menu-container">
            <div id="ribbon">
            </div>
            <div id="toolbar-container">
            </div>
            <script src="{{ url_for('static', filename='js/ribbonAndToolbar.js') }}"></script>
        </section>
    </header>
    <main>
        <div id="load-election-workspace" class="workspace">
            <div class="load-election-section" id="continent-section">
                <h2>Continent</h2>
            </div>
            <div class="load-election-section" id="country-section">
                <h2>Country</h2>
                <div id="country-scroll-section">
                </div>
            </div>
            <script src="{{ url_for('static', filename='js/countriesAndElections.js') }}"></script>
            <div class="load-election-section" id="election-section">
                <h2>Election/Referendum</h2>
                <div id="election-scroll-section">
                </div>
            </div>
        </div>
        <div id="search-election-workspace" class="workspace">This is placeholder text for the search election workspace</div>
        <div id="auto-stats-workspace" class="workspace">This is a placeholder text for the auto-stats workspace</div>
        <script src=" {{ url_for('static', filename='js/workspaces.js') }}"></script>
    </main>

</body>
</html>